{% extends 'questions/base.html' %}

{% block content %}
    <div class="col-md-10">
        <h1>Top Questions</h1>
    </div>
    <div class="col-md-2 pt-2">
        <a class="btn btn-primary" href="{% url 'questions:new_question' %}" role="button">ask new question</a>
    </div>
    {% if latest_question_list %}
        <div class="d-flex flex-column bd-highlight mb-3 w-100">
            {% for question in latest_question_list %}
                <div class="d-flex flex-row pt-1 bd-highlight border shadow-sm mt-2">
                    <div class="d-flex flex-row">
                        <div class="d-block flex-column text-center p-2">
                            <div class="p-1"><p>N/A</p></div>
                            <div class="p-1">Votes</div>
                        </div>
                        <div class="d-block flex-column text-center p-2">
                            <div class="p-1"><p>{{ question.answer_set.count }}</p></div>
                            <div class="p-1"><p>Answers</p></div>
                        </div>
                        <div class="d-block flex-column text-center p-2">
                            <div class="p-1"><p>N/A</p></div>
                            <div class="p-1">Views</div>
                        </div>
                    </div>
                    <div class="p-3 d-flex flex-column w-100">
                        <h3><a href="{% url 'questions:detail' question.id %}">{{ question.title }}</a></h3>
                        <div class="p-1 text-right"><h6>{{ question.author }}</h6></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No questions</p>
    {% endif %}
{% endblock %}