{% extends 'questions/base.html' %}

{% block content %}
    <div class="ask-question-container">
        <h2>Ask a question</h2>
        <form method="post" action="{% url 'questions:new_question' %}" role="form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary btn-send" value="Post">
        </form>
    </div>

{% endblock %}