{% extends 'questions/base.html' %}

{% block content %}
    <div class="container-fluid bg-light py-3">
        <h2>Ask a question</h2>
        <form method="post" role="form">
            {% csrf_token %}
            <div class="messages"></div>
            <div class="controls">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="form_title">{{ form.title.label_tag }}</label>
                            {% if form.title.value %}
                                <input id="form_title" type="text" name="title" class="form-control"
                                       value="{{ form.title.value }}" required="required"
                                       data-error="title is required.">
                            {% else %}
                                <input id="form_title" type="text" name="title" class="form-control"
                                       placeholder="Title" required="required" data-error="title is required.">
                            {% endif %}
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="form_question">Question</label>
                        {% if form.content.value %}
                            <textarea id="form_question" name="content" class="form-control"
                                      rows="4" required="required"
                                      data-error="No question text">{{ form.content.value }}</textarea>
                        {% else %}
                            <textarea id="form_question" name="content" class="form-control"
                                      placeholder="Text of question" rows="4" required="required"
                                      data-error="No question text"></textarea>
                        {% endif %}
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="submit" class="btn btn-warning btn-send" value="Post">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if error %}
                        <p class="text red"><strong></strong>{{ error }}</p>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>

{% endblock %}