{% extends 'questions/base.html' %}

{% block content %}
    <div class="col-md-12">
        <h1>Login</h1>
        {% if request.GET.next %}
            <form id="login_form" method="post" action="{% url 'users:login' %}?next={{ request.GET.next }}">
        {% else %}
            <form id="login_form" method="post" action="{% url 'users:login' %}">
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">{{ form.username.label_tag }}</label>
            <input type="text" class="form-control" id="id_username" name="username">
        </div>
        <div class="form-group">
            <label for="InputPassword">{{ form.password.label_tag }}</label>
            <input type="password" class="form-control" id="InputPassword" name="password">
        </div>
        {% if form.errors %}
            <p class="label label-danger">
                Your username and password didn't match.
                Please try again.
            </p>
        {% endif %}
        <input type="submit" name="submit" value="Login"/>
        </form>
    </div>
{% endblock %}