{% extends 'questions/base.html' %}

{% block content %}
    <div class="registration_form">
        <h4>Sigh Up</h4>
        <br>
        <form id="user_form" method="post" action="{% url 'users:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in user_form %}
                <div class="form-group">
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    {{ field.label }}
                <br>
                    {{ field }}
                </div>
            {% endfor %}
            {% for field in profile_form %}
                <div class="form-group">
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary btn-send" name="submit" value="Register"/>
        </form>
    </div>
{% endblock %}